/* font-face SiemensSans Roman otf */
@font-face {
  font-family: 'siemenssans-roman';
  src: url('assets/fonts/SiemensSans-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'siemenssans-bold';
  src: url('assets/fonts/SiemensSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'siemenssans-black';
  src: url('assets/fonts/SiemensSans-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* Overrides of Site */

.main-container.full-picture-header > .header > .full-picture-carousel {
  height: auto !important;
}

.hero-slider-interview {
  position: relative;
  width: 100%; 
  height: 540px; 
  overflow: hidden;
}

.hero-slider-interview .anim-stop {
  transition: none !important;
  -webkit-transition: none !important;
}

.hero-slider-interview .hero-orange {
  background-color: #eb780a;
}

.hero-slider-interview .hero-yellow {
  background-color: #ffb900;
}

.hero-slider-interview .hero-green {
  background-color: #aab414;
}

.hero-slider-interview .hero-blue {
  background-color: #50bed7;
}

.hero-slider-interview .slide {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.hero-slider-interview .big-slide {
  height: 100%;
  width: 50%; 
}

.hero-slider-interview .big-slide.hero-img img {
  height: 100%;
  width: calc(1136px / 2 );
  object-fit: cover;
  object-position: center;
}


.hero-slider-interview .small-slide {
  height: 100%;
  width: 50%;
  position: relative;
}

.hero-slider-interview .small-slide.hero-img img {
  height: 100%;
  width: 100%;
  width: calc(1136px / 2);
  object-fit: cover;
  object-position: center;
}

.hero-slider-interview .hidden {
  display: none !important;
}

.hero-slider-interview .overflow-hidden {
  overflow: hidden;
}

.hero-slider-interview .h-100 {
  height: 100%;
}

.hero-slider-interview .w-100 {
  width: 100%;
}

.hero-slider-interview .flex {
  display: flex;
}

.hero-slider-interview .flex-column {
  flex-direction: column;
}

.hero-slider-interview .justify-between {
  justify-content: space-between;
}

.hero-slider-interview .justify-end {
  justify-content: flex-end;
}

.hero-slider-interview .transform-outer-start.left-to-right {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.hero-slider-interview .transform-outer-start.right-to-left {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.hero-slider-interview .transform-outer-end {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.hero-slider-interview .transform-inner-start.left-to-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.hero-slider-interview .transform-inner-start.right-to-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.hero-slider-interview .transform-inner-end {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.hero-slider-interview .prev {
  z-index: 1;
}

.hero-slider-interview .next {
  z-index: 2;
}

.hero-slider-interview .other {
  z-index: -1;
}

.hero-slider-interview .content {
  margin: 0;
  margin-top: 90px;
  margin-left: auto;
  width: calc(1136px / 2 - 20px);
  max-width: 100%;
  padding-right: 20px;
}

.hero-slider-interview .content::before {
  content: "";
  width: 46px;
  height: 40px;
  background-image: url(assets/icons/apostrophe.svg);
  position: absolute;
}

.hero-slider-interview .slide-0 .content::before {
  display: none;  
}

.hero-slider-interview .slide-0 .title, 
.hero-slider-interview .slide-0 .text { 
 padding-left: 0;
}

.hero-slider-interview .title {
  color: black;
  font-size: 45px !important; /* 90px; */
  line-height: 50px !important; /* 91px; */
  margin: 0 !important;
  margin-bottom: 50px !important; /* 50px;*/
  margin-top: 0 !important; /* 65px; */
  font-weight: 400;
  font-family:  'siemenssans-roman' !important;
  letter-spacing: -0.021em;
  padding-left: 55px;
}

.hero-slider-interview .title .bold {
  font-family: 'siemenssans-black' !important;
  font-weight: 900;
}

.hero-slider-interview .quote {
  color: black;
  font-size: 35px !important;
  line-height: 43px !important;
  margin: 0 !important;
  margin-bottom: 50px !important; /* 50px;*/
  margin-top: 0 !important; /* 65px; */
  font-weight: 400;
  font-family:  'siemenssans-roman' !important;
  letter-spacing: -0.016em;
  padding-left: 55px;
}

.hero-slider-interview .title .bold {
  font-family: 'siemenssans-black' !important;
  font-weight: 900;
}

@media screen and (min-width: 1920px ) {
  /* .hero-slider-interview .title {
    font-size: 90px !important;
    line-height: 91px !important;
    margin-bottom: 50px !important;
    margin-top: 66px !important;
  } */
}

.hero-slider-interview .text {
  max-width: 544px;
  margin-bottom: 50px !important;
  font-size: 30px !important; /* 26px; */
  line-height: 31px !important; /* 32px; */
  font-family: 'siemenssans-roman' !important;
  padding-left: 55px;
}

@media screen and (min-width: 1920px ) {
  /* .hero-slider-interview .text {
    font-size: 26px !important;
    line-height: 32px !important; */
  /* } */
}

.hero-slider-interview .pill {
  width: 26px;
  height: 6px;
  border: 1px solid white;
  margin-left: 8px;
  cursor: pointer;
}

.hero-slider-interview .pill.active {
  background-color: white;
}

.hero-slider-interview .pill-container {
  display: flex;
  justify-content: flex-start; 
  position: absolute;
  bottom: 65px;
  left: 50%;
  z-index: 10;
  width: 1136px; 
  transform: translate(-50%);
}

@media screen and (min-width: 781px) {
  /* .hero-slider-interview .hide-desktop {
    display: none !important;
  }

  .hero-slider-interview .big-slide {
    min-width: 683px;
  } */

  .hero-slider-interview .anim {
    transition: transform 2s ease-in-out;
    -webkit-transition: transform 2s linear;
  }
} 

@media screen and (min-width: 781px) and (max-width: 1200px) {

  .hero-slider-interview .content {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px); 

  }

  .hero-slider-interview .pill-container {
    bottom: 56px;
    left: 19px;
    transform: unset;
  }

  .hero-slider-interview .title {
    font-size: 35px !important;
    line-height: 43px !important;
    margin-bottom: 25px !important;
    letter-spacing: -0.015em !important;
  }

  .hero-slider-interview .quote {
    font-size: 27px !important;
    line-height: 34px !important;
    margin-bottom: 25px !important;
    letter-spacing: -0.015em !important;
  }

  .hero-slider-interview .text {
    font-size: 23px !important;
    line-height: 24px !important;
    margin-bottom: 0px !important;
    letter-spacing: -0.015em !important;
  }
}

@media only screen and (max-width: 780px) {

  .hero-slider-interview {
    height: calc(100vh - 80px);
    /* min-height: 732px; */
    --image-width: calc(((100vh - 80px) * 0.15 * 1.36))
  }

  .hero-slider-interview .hide-mobile {
    display: none !important;
  }

  .hero-slider-interview .flex {
    flex-direction: column;
  }

  .hero-slider-interview .slide-1 .flex {
    flex-direction: column-reverse;
  }
  
  .hero-slider-interview .slide-3 .flex {
    flex-direction: column-reverse;
  }

  .hero-slider-interview .big-slide {
    width: 100%;
    height: 50%;
    transition: transform 1s linear;
  }

  .hero-slider-interview .small-slide {
    width: 100%;
    height: 50%;
    transition: transform 1s linear; 
  }

  .hero-slider-interview .prev .big-slide {
    transform: translateX(0);
  }

  .hero-slider-interview .prev .small-slide {
    transform: translateX(0); 
  }

  .hero-slider-interview .next .big-slide {
    transform:translateX(100%);
    
  }

  .hero-slider-interview .next .small-slide {
    transform:translateX(-100%);
  }

  .hero-slider-interview .other :not(.other-lower) .big-slide {
      transform: translateX(100%);
  }

  .hero-slider-interview .other :not(.other-lower) .small-slide {
    transform: translateX(-100%);
  }

  .hero-slider-interview .other-lower {
    z-index: -2; 
  }

  .hero-slider-interview .content {
    position: unset;
    transform: unset;
    padding: 30px 20px;
    margin: unset;
    width: unset;
    height: unset;
  }

  .hero-slider-interview .content::before {
    top: 30px;
  }

  .hero-slider-interview .title {
    font-size: 34px !important;
    line-height: 35px !important;
    letter-spacing: -0.015em !important;
    margin-bottom: 25px !important;
  }

  .hero-slider-interview .quote {
    font-size: 24px !important;
    line-height: 29px !important;
    margin-bottom: 25px !important;
    letter-spacing: -0.015em !important;
  }

  .hero-slider-interview .text {
    font-family: 'Siemens Sans';
    font-size: 20px !important;
    line-height: 29px !important;
    letter-spacing: -0.015em !important;
  }

  .hero-slider-interview .slide .hero-img img {
    width: 100%;
  } 

  .hero-slider-interview .transform-outer-start {
    transform: translateX(0%) !important;
    -webkit-transform: translateX(0%) !important;
  }

  .hero-slider-interview .transform-inner-start {
    transform: translateX(0%) !important;
    -webkit-transform: translateX(0%) !important;
  }

  .hero-slider-interview .pill-container {
    position: absolute;
    bottom: 50px;
    justify-content: center;
    width: 100%;
  }
}

.hero-slider-interview .no-transition {
  transition: none !important;
}