/* font-face SiemensSans Roman otf */
@font-face {
  font-family: 'siemenssans-roman';
  src: url('assets/fonts/SiemensSans-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'siemenssans-bold';
  src: url('assets/fonts/SiemensSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Overrides of Site */

.main-container.full-picture-header > .header > .full-picture-carousel {
  height: auto !important;
}

.hero-slider {
  position: relative;
  width: 100%; 
  height: 33.33vw;
  overflow: hidden;
}

.hero-slider .anim-stop {
  transition: none !important;
  -webkit-transition: none !important;
}

.hero-slider .hero-orange {
  background-color: #eb780a;
}

.hero-slider .hero-yellow {
  background-color: #ffb900;
}

.hero-slider .hero-green {
  background-color: #aab414;
}

.hero-slider .hero-blue {
  background-color: #50bed7;
}

.hero-slider .hero-img {
  background-color: lightgrey;
}

.hero-slider .slide {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.hero-slider .big-slide {
  height: 100%;
  width: calc(2 / 3 * 100%);
}

.hero-slider .big-slide.hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


.hero-slider .small-slide {
  height: 100%;
  width: calc(1 / 3 * 100%);
  position: relative;
}

.hero-slider .small-slide.hero-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-slider .hidden {
  display: none !important;
}

.hero-slider .overflow-hidden {
  overflow: hidden;
}

.hero-slider .h-100 {
  height: 100%;
}

.hero-slider .w-100 {
  width: 100%;
}

.hero-slider .flex {
  display: flex;
}

.hero-slider .flex-column {
  flex-direction: column;
}

.hero-slider .justify-between {
  justify-content: space-between;
}

.hero-slider .justify-end {
  justify-content: flex-end;
}

.hero-slider .transform-outer-start.left-to-right {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.hero-slider .transform-outer-start.right-to-left {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.hero-slider .transform-outer-end {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.hero-slider .transform-inner-start.left-to-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.hero-slider .transform-inner-start.right-to-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.hero-slider .transform-inner-end {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.hero-slider .prev {
  z-index: 1;
}

.hero-slider .next {
  z-index: 2;
}

.hero-slider .other {
  z-index: -1;
}

.hero-slider .content {
  height: 100%;
  margin: 0;
  /* margin-left: auto; */
  /*   margin-left: 20vw; */
  /*   padding-right: 4.583vw;  88px; */
  /* width: calc(945px * 2 / 3 - 4.583vw); */
  width: 945px;
  max-width: 100%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.hero-slider .title {
  color: black;
  font-size: 4.6875vw !important; /* 90px; */
  line-height: 4.74vw !important; /* 91px; */
  margin: 0 !important;
  margin-bottom: 2.6vw !important; /* 50px;*/
  margin-top: 3.4375vw !important; /* 65px; */
  font-weight: 500;
  font-family:  'siemenssans-roman' !important;
  letter-spacing: -0.021em;
}

.hero-slider .title .bold {
  font-family: 'siemenssans-bold' !important;
  font-weight: 900;
}

@media screen and (min-width: 1920px ) {
  .hero-slider .title {
    font-size: 90px !important;
    line-height: 91px !important;
    margin-bottom: 50px !important;
    margin-top: 66px !important;
  }
}

.hero-slider .text {
  max-width: 544px;
  margin-bottom: 50px !important;
  font-size: 1.354vw !important; /* 26px; */
  line-height: 1.667vw !important; /* 32px; */
  font-family: 'siemenssans-roman' !important;
}

@media screen and (min-width: 1920px ) {
  .hero-slider .text {
    font-size: 26px !important;
    line-height: 32px !important;
  }
}


.hero-slider .hero-slider-button {
  border: 1px solid black;
  padding: 16px 24px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 2.5vw;
  font-size: 18px;
  font-family: 'siemenssans-roman' !important;
}

.hero-slider .hero-slider-button:hover {
  background-color: white;
}

.hero-slider .hero-slider-button::after {
  content: url(assets/icons/arrow.svg);
  display: inline-block;
  width: 46px;
  height: 28px;
  margin-left: 96px;
}

.hero-slider .pill {
  width: 26px;
  height: 6px;
  border: 1px solid white;
  margin-left: 8px;
  cursor: pointer;
}

.hero-slider .pill.active {
  background-color: white;
}

.hero-slider .pill-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5vw;
  position: absolute;
  bottom: 2.5vw;
  right: calc(33.3% + 64px);
  z-index: 10;
}

@media screen and (min-width: 781px) {
  /* .hero-slider .hide-desktop {
    display: none !important;
  }

  .hero-slider .big-slide {
    min-width: 683px;
  } */

  .hero-slider .anim {
    transition: transform 2s ease-in-out;
    -webkit-transition: transform 2s linear;
  }
}

@media screen and (min-width: 781px) and (max-width: 1024px) {
.hero-slider {
  height: 350px;
}

  .hero-slider .content {
    margin-left: 20px;
  }

  .hero-slider .pill-container {
    bottom: 25px;
  }

  .hero-slider .hero-slider-button {
    margin-bottom: 50px;
    padding: 12px 18px;
  }

  .hero-slider .hero-slider-button::after {
    margin-left: 48px;
  }

  .hero-slider .title {
    font-size: 48px !important;
    line-height: 49px !important;
    margin-bottom: 25px !important;
    margin-top: 15px !important;
    max-width: 480px;
  }

  .hero-slider .text {
    margin-bottom: 25px !important;
    font-size: 14px !important;
    line-height: 17px !important;
    max-width: 480px;
  }
}

@media only screen and (max-width: 780px) {

  .hero-slider {
    height: calc(100vh - 80px);
    min-height: 732px;
    --image-width: calc(((100vh - 80px) * 0.15 * 1.36))
  }

  .hero-slider .hide-mobile {
    display: none !important;
  }

  .hero-slider .slide {
    position: unset;
    height: 16.1% !important;
    min-height: 118px;
  }

  .hero-slider .slide-0 {
    height: 24.04% !important; 
    min-height: 176px; 
  }

  .hero-slider .content {
    position: unset;
    transform: unset;
    padding: 16px 20px;
    width: unset;
  }

  .hero-slider .title {
    font-size: 18px !important;
    line-height: 23px !important;
    letter-spacing: -0.021em !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  .hero-slider .transform-outer-start {
    transform: translateX(0%) !important;
    -webkit-transform: translateX(0%) !important;
  }

  .hero-slider .transform-inner-start {
    transform: translateX(0%) !important;
    -webkit-transform: translateX(0%) !important;
  }

   .hero-slider .big-slide {
    width: 100%;
  }

  .hero-slider .big-slide.transition {
    transition: width 1s ease;
  }

  .hero-slider .big-slide.trans-mobile  {
    width: calc(100% - var(--image-width));
    min-width: 200px;  
  }

  .hero-slider .slide-0 .big-slide.trans-mobile {
    max-width: unset;
  }

  .hero-slider .slide-0 .title {
    font-family: 'siemenssans-roman' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 34px !important;
    line-height: 35px !important;
    letter-spacing: -0.021em !important;
    margin-bottom: 0;
    margin-top: 0 !important;
    max-width: 250px !important;
  }

  .hero-slider .slide-0 .big-slide {
    width: 100%;
  }

  .hero-slider .slide-3 > div  {
    flex-direction: row-reverse; 
  }

  .hero-slider .small-slide {
    height: 100%; 
    width: var(--image-width);
    min-width: 159px;
    overflow: hidden;
    transition: width 1s ease;
    position: absolute;
    right: 0;
    z-index: -1; 
  }

  .hero-slider .slide-3 .small-slide {
    left: 0;
  }

  .hero-slider .small-slide.trans {
    width: 0;
  }

  .hero-slider .mobile-opposite .title {
    width: var(--image-width);
    margin-left: auto !important;
    margin-right: -21px !important; 
  }

  .hero-slider .mobile-button-container {
    padding-top: 16px;
    padding-left: 20px;
    height: 202px;
  }

  .hero-slider .hero-slider-button {
    padding: 8px 16px;
    font-size: 18px;
    width: calc(100% - var(--image-width));
    min-width: 188px;
    max-width: 240px;
  }
  
  .hero-slider .hero-slider-button::after {
    content: url(assets/icons/arrow-mobile.svg);
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-left: auto; 
  }

  .hero-slider .arrow-down-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .hero-slider .arrow-down-button {
    margin-top: 65px; 
    content: url(assets/icons/arrow-down.svg);
    width: 40px;
    height: 20px;
  }
}
